<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title></title>
  </head>
  <body>
{{>navbar}}
<!-- herosectionstart -->
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="row">
        <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex imgstyle flex-column ">
          <h1>WE WILL HELP YOU</h1>
            <h1>GROW YOUR BUSINESS</h1>
            <p>We Are The Team Of <span class="bold-style">Professionl Developer✌️</span></p>
          <button type="button" class="btn-style btn btn-primary">Read More</button>
        </div>
        <!-- rightside -->
        <div class="col-md-6 col-12 hero-text order-md-1 order-0">
          <figure>
            <img src="images/growth.svg" alt="herosection_images">
          </figure>
        </div>


      </div>

    </div>
  </div>
</div>
<!-- herosectionend -->
<!-- AboutUsStart -->
{{>about}}
<!-- AboutUsend -->
<!-- ServicesStart -->
{{>service}}
<!-- SErvicesend -->
<!-- MapStart -->
{{>map}}
<!-- Mapsend -->
<!-- contactStart -->
{{>contact}}
<!-- contactend -->
<!-- <h1>Home Page</h1> -->
  <script src="../jq/jquery.js" type="text/javascript" ></script>
    <script src="../js/bootstrap.js" type="text/javascript" ></script>
  </body>
</html>
